version: '3.8'

services:
  web:
    build: .
    ports:
      - "8000:80"
    volumes:
      - ./:/var/www/html
    depends_on:
      - db
    restart: always

  db:
    image: mysql:8.0
    container_name: mydorm_db
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: mydorm
    ports:
      - "3306:3306"
    restart: always
